<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TestAppJavaMaven</display-name>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>testAppJavaMaven.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>data</servlet-name>
    <servlet-class>testAppJavaMaven.Data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>data</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>datafileinput</servlet-name>
    <servlet-class>testAppJavaMaven.DataFileInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datafileinput</servlet-name>
    <url-pattern>/datafileinput/*</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>datafileupload</servlet-name>
    <servlet-class>testAppJavaMaven.DataFileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datafileupload</servlet-name>
    <url-pattern>/datafileupload/*</url-pattern>
  </servlet-mapping>
    
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>